// ==================== Palette ==================== 
$blue: #0a84ff;
$green: #34c759ff;
$indigo: #5856d6ff;
$orange: #ff9500ff;
$pink: #ff2d55ff;
$purple: #af52deff;
$red: rgb(255, 69, 58);

$gray: rgb(142, 142, 147);
$gray-2: rgb(99, 99, 102);
$gray-3: rgb(72, 72, 74);
$gray-4: rgb(58, 58, 60);
$gray-5: rgb(44, 44, 46);
$gray-6: rgb(28, 28, 30);

// ==================== Background ==================== 

.bg {
  background-color: $gray-6
}

.bg-2 {
  background-color: $gray-5;
}

.hover\:bg-2 {
    &:hover {
      background-color: $gray-5;
    }
}

.bg-3 {
  background-color: $gray-4;
}

.hover\:bg-3 {
    &:hover {
      background-color: $gray-4;
    }
}

.bg-4 {
    background-color: $gray-3;
}

.hover\:bg-4 {
    &:hover {
      background-color: $gray-3;
    }
}

.bg-red {
  background-color: $red;
}

.hover\:bg-red {
    &:hover {
      background-color: $red;
    }
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: #ffffffbb;
}

// ==================== Font ==================== 

.txt {
  color: #ffffff;
}

.txt-2 {
  color: #ebebf599;
}

.txt-3 {
  color: #ebebf54d;
}

.txt-4 {
  color: #ebebf52e;
}

.txt-red {
  color: $red;
}

.txt-bg {
  color: $gray-6
}

.txt-bg-2 {
  color: $gray-5
}

.txt-bg-3 {
  color: $gray-4
}

.txt-bg-4 {
  color: $gray-3
}

.txt-bg-5 {
  color: $gray-2
}

.hover\:txt {
  &:hover {
    color: #ffffff;
  }
}

.bold {
  font-weight: bold;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 2rem;
}

@for $i from 1 through 10 {
  .text-#{$i}xl {
    font-size: #{$i * 0.25 + 1.125}rem;
    line-height: #{$i * 0.25 + 1.75}rem;
  }
}

// ==================== Border ==================== 

.icon-sm {
    -gtk-icon-transform: scale(0.9);
}

.icon-base {
    -gtk-icon-transform: scale(1);
}

.icon-lg {
    -gtk-icon-transform: scale(1.1);
}

.icon-xl {
    -gtk-icon-transform: scale(1.2);
}

// ==================== Border ==================== 

.round-none {
  border-radius: 0;
}

.round-sm {
  border-radius: 0.125rem;
}

.round {
  border-radius: 0.25rem;
}

.round-md {
  border-radius: 0.375rem;
}

.round-lg {
  border-radius: 0.5rem;
}

.round-full {
  border-radius: 9999px;
}

.border-solid {
  border-style: solid;
}

.border-red {
  border-color: $red;
}

.border-separator {
  border-color: $gray-2;
}

@for $i from 0 through 4 {
  .border-#{$i * 2} {
    border-width: #{$i * 2}px;
  }

  .border-b-#{$i * 2} {
    border-bottom-width: #{$i * 2}px;
  }
}

// ==================== PADDING ==================== 

@for $i from 1 through 10 {
  .p-#{$i} {
    padding: #{$i * 0.25}rem;
  }

  .p-#{$i}\.5 {
    padding: #{$i * 0.25 + 0.125}rem;
  }

  .px-#{$i} {
    padding-left: #{$i * 0.25}rem;
    padding-right: #{$i * 0.25}rem;
  }

  .px-#{$i}\.5 {
    padding-left: #{$i * 0.25 + 0.125}rem;
    padding-right: #{$i * 0.25 + 0.125}rem;
  }

  .py-#{$i} {
    padding-top: #{$i * 0.25}rem;
    padding-bottom: #{$i * 0.25}rem;
  }

  .py-#{$i}\.5 {
    padding-top: #{$i * 0.25 + 0.125}rem;
    padding-bottom: #{$i * 0.25 + 0.125}rem;
  }

  .pt-#{$i} {
    padding-top: #{$i * 0.25}rem;
  }

  .pt-#{$i}\.5 {
    padding-top: #{$i * 0.25 + 0.125}rem;
  }

  .pb-#{$i} {
    padding-bottom: #{$i * 0.25}rem;
  }

  .pb-#{$i}\.5 {
    padding-bottom: #{$i * 0.25 + 0.125}rem;
  }
}

// ==================== Margin ==================== 

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i * 0.25}rem;
  }

  .m-#{$i}\.5 {
    margin: #{$i * 0.25 + 0.125}rem;
  }

  .mx-#{$i} {
    margin-left: #{$i * 0.25}rem;
    margin-right: #{$i * 0.25}rem;
  }

  .mx-#{$i}\.5 {
    margin-left: #{$i * 0.25 + 0.125}rem;
    margin-right: #{$i * 0.25 + 0.125}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.25}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.25}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem;
  }

  .my-#{$i} {
    margin-top: #{$i * 0.25}rem;
    margin-bottom: #{$i * 0.25}rem;
  }

  .my-#{$i}\.5 {
    margin-top: #{$i * 0.25 + 0.125}rem;
    margin-bottom: #{$i * 0.25 + 0.125}rem;
  }
}

// ==================== Height ==================== 

@for $i from 0 through 100 {
  .h-#{$i} {
    min-height: #{$i * 0.25}rem;
  }

  .h-#{$i}\.5 {
    min-height: #{$i * 0.25 + 0.125}rem;
  }
}

// ==================== Width ==================== 

@for $i from 0 through 100 {
  .w-#{$i} {
    min-width: #{$i * 0.25}rem;
  }

  .w-#{$i}\.5 {
    min-width: #{$i * 0.25 + 0.125}rem;
  }
}

// ==================== Blur ==================== 

.blur {
  filter: blur(8px);
}

// ==================== Opacity ==================== 

@for $i from 0 through 20 {
  .opacity-#{$i * 5} {
    opacity: #{$i * 0.05};
  }
}

// ==================== Transition ==================== 

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
