.control-center {
    @include window;
    background-color: $bg;
    min-width: 28rem;
    padding: 1rem;
}

.control-center-menu {
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;

    separator {
        margin: 0.5rem 0;
    }
}

.qs-button {
    @include hover($surface);
    color: $onSurface;
    min-height: 2.4rem;
    border-radius: 1.2rem;
    transition: 0.3s;
    padding: 0.3rem 0.8rem;

    &.active {
        @include hover($primary);
        color: $surface;
    }
}

.qs-button-label {
    margin-left: 0.5rem;
}

.toggle-box {
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    background-color: $primaryContainer;
}

.ethernet-header-box,
.wifi-header-box,
.vpn-header-box {
    margin-bottom: 0.5rem;
}

.ethernet-header-label,
.vpn-header-label {
    font-size: 1.35rem;
    margin-left: 0.75rem;
}

.wifi-header-label {
    font-size: 1.35rem;
}

.ethernet-connection-item,
.wifi-network-item,
.vpn-connection-item {
    @include hover($surface);
    transition: 0.3s;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
}


.ethernet-connection-label,
.wifi-network-label,
.vpn-connection-label {
    margin-left: 0.5rem;
}

.volume-entry {
    @include hover($surface);
    transition: 0.3s;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
}
  
.volume-entry-list-header-label {
    font-size: 1.35rem;
    margin-left: 0.5rem;
}
    
.volume-entry-list-header-box {
    margin-bottom: 0.75rem;
}

.material-slider {
    all: unset;

    * {
        all: unset;
    }
}

.material-slider trough,
.material-slider trough highlight {
    @extend .bg;
    @extend .h-10;
    @extend .round-full;
}


.material-slider trough highlight {
    @extend .bg-white;
}

// .battery-slider {
//   @extend .round;
//   @extend .border-solid;
//   @extend .border-red;
//   @extend .border-2;
//   @extend .h-4;
//   padding: 0 0.25rem 0.25rem 0;
// }

.battery-slider trough {
  @extend .border-solid;
  @extend .border-separator;
  @extend .round-lg;
  border-width: 2px;

  @extend .w-10;
  @extend .round;
  padding: .24rem .15rem .24rem .2rem;
  margin: .25rem;
  min-height: 1rem;
}

.battery-slider trough highlight {
  @extend .round;
}

.battery-slider-normal trough highlight {
  @extend .bg-white;
}

.battery-slider-critical trough highlight {
  @extend .bg-red;
}

.battery-slider-charging trough highlight {
  @extend .bg-green;
}

.battery-tip {
  color: $gray-2;
  background-color: $gray-2; 
  @extend .w-1;
  @extend .h-2;
}

.material-slider-icon {
    padding: 0.25rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.material-slider-arrow {
    all: unset;
    padding: 0.25rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
}
