// catppuccin mocha

$primary: #89b4fa;
$primaryContainer: #74c7ec;
$secondary: #cba6f7;
$secondaryContainer: #f5c2e7;
$bg: #1e1e2e;
$surface: #45475a;
$error: #f38ba8;
$onPrimary: #cdd6f4;
$onSecondary: #bac2de;
$onBg: #cdd6f4;
$onSurface: #cdd6f4;
$onSurfaceVariant: #6c7086;
$onError: #cdd6f4;

